.demo__wrapper {
    padding: 7px;
    display: flex;
    align-items: center;
}

.demo__decorator-style {
    background-color: orange;
}

.demo__content-wrapper {
    border-bottom: 1px solid black;
}